 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

body {
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* Navigation */
nav {
    position: fixed;
    width: 100%;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav h1 {
    color: #fff;
    font-size: 24px;
    letter-spacing: 2px;
    align-items: start;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #d4af37;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('kerala.jpeg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero h2 {
    font-size: 60px;
    letter-spacing: 3px;
}

.hero p {
    margin-top: 20px;
    font-size: 18px;
}

/* About Section */
.section {
    padding: 100px 80px;
    text-align: center;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.section p {
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    color: #555;
}

/* Destinations */
.destinations {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    transition: 0.4s;
}

.card:hover::after {
    background: rgba(0,0,0,0.6);
}

.card h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 22px;
    z-index: 2;
}

/* Footer */
footer {
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 40px 20px;
    font-size: 14px;
}

footer span {
    color: #d4af37;
}
